{% extends "mentor_nav.twig" %}

{% block title %}Quests manager{% endblock %}

{% block head %}
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
{% endblock %}

{% block quests_button %}class="active"{% endblock %}

{% block aside %}
    <a href="/add_new_quest">
        <button>+</button>
    </a>
{% endblock %}

{% block main %}
    <div class="height600">
        <p> Jakiś tekst</p>
    </div>
{% endblock %}