{% extends "admin_nav.twig" %}

{% block title %}Mentor editor{% endblock %}

{% block head %}
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
{% endblock %}

{% block mentors_button %}class="active"{% endblock %}

{% block aside %}
    <a href="/mentors_manager">
        <button><i class="material-icons bigger">arrow_back</i></button>
    </a>
{% endblock %}

{% block main %}
    <form method="post">
        <div class="flexbox">
            <label>First Name:</label>
            <input name="firstName" type="text" class="stdinput width80" placeholder="Enter name..." required>
        </div>
        <div class="flexbox">
            <label>Last Name:</label>
            <input name="lastName" type="text" class="stdinput width80" placeholder="Enter last name..." required>
        </div>
        <div class="flexbox">
            <label>Email:</label>
            <input name="email" type="text" class="stdinput width80" placeholder="Enter email..." required>
        </div>
        <div class="flexbox">
            <label>Password:</label>
            <input name="password" type="text" class="stdinput width80" placeholder="Enter password..." required>
        </div>
        <div class="flexbox">
            <label>Class:</label>
            <select name="className" class="stdinput width80">
                {% for class in classes %}
                    <option value="{{ class }}">{{ class }}</option>
                {% endfor %}
            </select>
        </div>
        <button type="submit" class="bluebutton floatright">SAVE</button>
    </form>
{% endblock %}