{% extends "inner_base.twig" %}

{% block nav %}
    <li><a href="/mentors_manager" {% block mentors_button %}{% endblock %}>MENTORS</a></li>
    <li><a href="/classes_manager" {% block classes_button %}{% endblock %}>CLASSES</a></li>
    <li><a href="/exp_level_manager" {% block levels_button %}{% endblock %}>LEVELS</a></li>
    <li class="floatright"><a href="/logout">LOGOUT</a></li>
{% endblock %}