<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>QuestStore - {% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="../static/css/style_2.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    {% block head %}{% endblock %}
</head>
<body>
    {% block body %}{% endblock %}
    {% block script %}{% endblock %}
</body>
</html>