{% extends "admin_nav.twig" %}

{% block title %}Classes manager{% endblock %}

{% block head %}
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
{% endblock %}

{% block classes_button %}class="active"{% endblock %}

{% block aside %}
    <button onclick="enableAdd()"><i class="material-icons bigger">add</i></button><br>
    <button name="delete" type="submit" form="classesForm"><i class="material-icons bigger">delete</i></button>
{% endblock %}

{% block main %}
    <form id="addNew" method="POST" style="display: none;">
        <input name="className" type="text" class="stdinput width80" placeholder="Enter name of new class" required>
        <button name="add" type="submit" class="bluebutton">SAVE</button>
    </form>
    <form id="classesForm" class="checkmarklist" method="POST">
        {% for class in classes %}
            <label class="container">{{ class }}
                <input type="checkbox" name="{{ class }}" value="{{ class }}">
                <span class="checkmark"></span>
            </label>
        {% endfor %}
    </form>
{% endblock %}

{% block script %}
    <script src="../static/js/exp_level.js"></script>
{% endblock %}