{% extends "base.twig" %}

{% block title %}Login{% endblock %}

{% block body %}
<header>
        <h1>Wlecome to <span class="blue">Quest</span><span class="red">Store</span></h1>
    </header>
    <main class="login">
        <h1>Sign in</h1>
        <form method="post">
            <label>Email:</label><br>
            <input type="email" name="email" placeholder="Enter your email address..." required><br><br>
            <label>Password:</label><br>
            <input type="password" name="password" placeholder="Enter your password..." required><br>
            <span class="red">{{ errMessage }}</span><br><br>
            <input type="submit" value="LOGIN">
        </form>
    </main>
{% endblock  %}