<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>QuestStore - Mentors manager</title>
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
</head>
<body>
    <nav>
        <ul>
            <li><a class="active" href="mentors_manager.html">MENTORS</a></li>
            <li><a href="classes_manager.html">CLASSES</a></li>
            <li><a href="exp_level_manager.html">LEVELS</a></li>
            <li class="floatright"><a href="/logout">LOGOUT</a></li>
        </ul>
    </nav>
    <header>
        <h1>Mentors manager</h1>
    </header>
    <div class="row">
        <aside>
            <div class = "roundbutton floatright">
                <a href="add_new_mentor.html">
                    <button>+</button>
                </a>
            </div>

        </aside>
        <main>
            <form method="post">
            <input name="search_field" class="stdinput" type="search" placeholder="Search..." style="width:39%">
            <button name="search" type="input" class="bluebutton">SEARCH</button>
            <button name="show_all" type="input" class="bluebutton">SHOW ALL</button>
            <button name="show_class" type="input" class="bluebutton floatright">SHOW</button>
            <select name="class" class="stdinput floatright" style="width:25%">
                <option>Java</option>
                <option>Web and SQL</option>
            </select>
            </form>
            <div class="height600">
            <div class="list">
                <ol>
                    {% for mentor in mentors %}

                    <a href="mentor_editor.html">
                    <li> {{ mentor.toString() }} <i class="material-icons floatright">keyboard_arrow_right</i></li>
                    </a>

                    {% endfor %}
                </ol>
            </div>
            </div>
        </main>
        <aside></aside>
    </div>
    
</body>
</html>