{% extends "inner_base.twig" %}

{% block nav %}
    <li><a href="/codecoolers_manager" {% block mentors_button %}{% endblock %}>CODECOOLERS</a></li>
    <li><a href="static/classes_manager.html" {% block quests_button %}{% endblock %}>QUESTS</a></li>
    <li><a href="static/exp_level_manager.html" {% block artifacts_button %}{% endblock %}>ARTIFACTS</a></li>
    <li class="floatright"><a href="/logout">LOGOUT</a></li>
{% endblock %}