{% extends "mentor_nav.twig" %}

{% block title %}Quest editor{% endblock %}
{% block head %}
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
{% endblock %}

{% block quests_button %}class="active"{% endblock %}

{% block aside %}
    <a href="/quests_manager">
        <button><i class="material-icons bigger">arrow_back</i></button>
    </a>
{% endblock %}

{% block main %}
    <form method="post" onsubmit="save()">
        <div class="flexbox">
            <label style="flex-grow: 1">Quest name:</label>
            <input name="questName" type="text" class="stdinput width80" value="{{ questName }}" required disabled>
            <button type="button" class="redbutton" onclick="enableEdit(this)">EDIT</button>
            <button type ="submit" class="bluebutton" style="display: none;">SAVE</button>
        </div>
        <div class="flexbox">
            <label style="flex-grow: 1">Description:</label>
            <input name="description" type="text" maxlength="600" class="stdinput width80" value="{{ description }}" required disabled>
            <button type="button" class="redbutton" onclick="enableEdit(this)">EDIT</button>
            <button type ="submit" class="bluebutton" style="display: none;">SAVE</button>
        </div>
        <div class="flexbox">
            <label style="flex-grow: 1">Reward:</label>
            <input name="value" type="number" class="stdinput width80" value="{{ value }}" required disabled>
            <button type="button" class="redbutton" onclick="enableEdit(this)">EDIT</button>
            <button type="submit" class="bluebutton" style="display: none;">SAVE</button>
        </div>
        <div class="flexbox">
            <label style="flex-grow: 1">Type:</label>
            <select name="isExtra" type = "text" class="stdinput width80" required disabled>
                            <option value="FALSE">Regular</option>
                            <option value="TRUE">Extra</option>
            </select>
            <button type="button" class="redbutton" onclick="enableEdit(this)">EDIT</button>
            <button type="submit" class="bluebutton" style="display: none;">SAVE</button>
        </div>

    </form>

{% endblock %}

{% block script %}
    <script src="../static/js/mentor_editor.js"></script>
{% endblock %}